@page "/clientes"
@using HelpDesk.Models
@using HelpDesk.Data
@inject AppDb Db
@inject NavigationManager Nav

<PageTitle>Clientes</PageTitle>

<h3 class="fw-bold mb-5">Clientes</h3>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Empresa</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var c in Db.Clientes)
    {
        <tr>
            <td>@c.Nome</td>
            <td>@c.Email</td>
            <td>@c.Telefone</td>
            <td>@c.Empresa</td>
            <td>
                <button class="btn btn-sm btn-primary me-2" @onclick="() => Editar(c.Id)">Editar</button>
                <button class="btn btn-sm btn-danger" @onclick="() => Excluir(c.Id)">Excluir</button>
            </td>
        </tr>
    }
    </tbody>
</table>

<button class="btn btn-success" @onclick="NovoCliente">Novo Cliente</button>

@code {
    private void NovoCliente()
    {
        Nav.NavigateTo("/clientes/novo");
    }

    private void Editar(int id)
    {
        Nav.NavigateTo($"/clientes/editar/{id}");
    }

    private void Excluir(int id)
    {
        var cliente = Db.Clientes.FirstOrDefault(c => c.Id == id);
        
        if (cliente is not null)
        {
            Db.Clientes.Remove(cliente);
        }
    }
}