@using MudBlazor

<div class="mb-4">
    <MudBreadcrumbs Class="mb-2 px-2 py-2" Style="background-color:#f8f9fa; border-radius:6px;">
        <MudBreadcrumbItem Href="/">Home</MudBreadcrumbItem>
        <MudBreadcrumbItem Disabled="true">@Title</MudBreadcrumbItem>
    </MudBreadcrumbs>

    <h3 class="fw-bold mb-2">@Title</h3>
    <hr class="mb-3" />
</div>

@code {
    [Parameter] public string Title { get; set; } = string.Empty;
}
